extends layout

block content
  .dashboard
    h1.dashboard-heading.text-center Welcome to your Dashboard
    .container
      .row
        .col-sm-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Organizations
            .panel-body
              | Panel content
        .col-sm-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Teams
            .panel-body
              | Panel content
        .col-sm-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Tasks
            .panel-body
              | Panel content
