var credentials = {
	github: {
		GITHUB_CLIENT_ID : "",
		GITHUB_CLIENT_SECRET : ""
	},
	mongo: {
		CONNECTION_STRING: "mongodb://user:pass@mongo.server.com:port/db"
	}
};

module.exports = credentials;
