@import url('https://fonts.googleapis.com/css?family=Catamaran|Proza+Libre:600');
body {
  font-family: 'Catamaran', san-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'Proza Libre', san-serif;
}
body {
  padding: 50px;
  font-size: 12px;
}
a {
  color: #00B7FF;
}
.navbar {
  font-size: 14px;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  height: 50px;
  float: left;
}
.navbar-logo {
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}
.navbar-login {
  margin: 7px 0;
  vertical-align: middle;
}
.navbar-login img {
  width: 25px;
  padding-right: 5px;
}

.navbar {
  font-size: 14px;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
  height: 50px;
  float: left;
}
.navbar-logo {
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
}
.navbar-login {
  margin: 7px 0;
  vertical-align: middle;
}
.navbar-login img {
  width: 25px;
  padding-right: 5px;
}
